.navContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 90px;
  background: #00000000;
  backdrop-filter: blur(10px);
  z-index: 100;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 90px;
  padding: 0 200px;
  .text {
    font-size: 2em;
    font-weight: 700;
  }
  .separator {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 580px;
    height: 100%;
    .sections {
      display: flex;
      align-items: center;
      padding-top: 5px;
      width: 260px;
      .sectionBtn {
        cursor: pointer;
        margin: 0 15px;
        .sectionBtn:hover {
          color: #52bbfc;
        }
      }
    }
  }
}
